<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Penistrong.GameResourceMS.posts.mapper.PostsMapper">
	<select id="getLatestPosts" resultType="java.util.Map">
		SELECT a.*,b.visits,b.last_reply_time,b.last_reply_user,b.floors,b.tags
		  FROM posts_base_info a
	INNER JOIN posts_extend_info b
		  	ON a.resource_id = b.resource_id and a.post_id = b.post_id
	  ORDER BY b.last_reply_time DESC	   
	</select>
	
	<select id="getRepliesOfPost" resultType="java.util.Map">
		SELECT a.post_id,a.floor,b.resource_id,b.user_id,b.user_name,a.reply,a.reply_time,b.level,b.identity
		  FROM posts_reply a
	INNER JOIN user_accounts b
			ON a.replier_id = b.resource_id
		 WHERE a.post_id = #{post_id}
	  ORDER BY a.floor
	</select>
	
	<select id="getPostMainInfo" resultType="java.util.Map">
		SELECT a.resource_id,a.post_author,c.level,c.identity,c.introduction,a.upload_time,a.post_title,a.post_subhead,a.post_content,b.visits,b.last_reply_time,b.last_reply_user,b.floors,b.tags
		  FROM (posts_base_info a
	INNER JOIN posts_extend_info b
			ON a.resource_id = b.resource_id and a.post_id = b.post_id)
	INNER JOIN user_accounts c
			ON a.resource_id = c.resource_id
	  	 WHERE a.poster_id = #{poster_id}
	  	   AND a.post_id = #{post_id}
	</select>
	
	<select id="getFloorsOfPost" resultType="java.lang.Integer">
		SELECT floors
		  FROM posts_extend_info
		 WHERE post_id = #{post_id}
	</select>
	
	<insert id="createNewPost">
		INSERT INTO
			   posts_base_info
		(RESOURCE_ID,POST_ID,POST_TITLE,POST_AUTHOR,UPLOAD_TIME,POST_TITLE,POST_SUBHEAD,POST_CONTENT)
		VALUES 
		(#{resource_id},#{post_id},#{post_title},#{post_author},#{upload_time},#{post_title},#{post_subhead},#{post_content})
	</insert>
	
	<insert id="insertNewReply">
		INSERT INTO
			   posts_reply
		(POST_ID,FLOOR,REPLIER_ID,REPLY,REPLY_TIME)
		VALUES
		(#{post_id},#{floor},#{replier_id},#{reply},#{reply_time})
	</insert>
	
	<update id="updateFloorsOfPost">
		UPDATE posts_extend_info
		   SET floors = #{floors}
		 WHERE post_id = #{post_id}
	</update>
</mapper>