[v-cloak]{
	display:none;
}

.overlay{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:6;
	background:rgba(0,0,0,0.7);
}
.overlay td:first-child{
	width:66px;
}
.overlay .con{
	position:absolute;
	width:420px;
	min-height:300px;
	background:#fff;
	left:50%;
	top:50%;
	-webkit-transform:translate3d(-50%,-50%,0);
	transform:translate3d(-50%,-50%,0);
	padding:20px;
}
.modify_option{
	color:
}