*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    background-color: #3e69c3;
    background-attachment:fixed;
    background-image: url(http://scarbroughstudios.com/img/codepen.svg);
    -webkit-animation: scrollBad 10s linear infinite;
    -moz-animation: scrollBad 10s linear infinite;
    animation: scrollBad 10s linear infinite;

}
@-webkit-keyframes scrollBad {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -320px;
    }
    0%   {background-color:#3e69c3;}
    50%   {background-color: red;}
    100%   {background-color: #3e69c3;}
}
@-moz-keyframes scrollBad {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -320px;
    }
    0%   {background-color:#3e69c3;}
    50%   {background-color: red;}
    100%   {background-color: #3e69c3;}
}
@keyframes scrollBad {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -320px;
    }
    0%   {background-color:#3e69c3;}
    50%   {background-color: red;}
    100%   {background-color: #3e69c3;}
}
@-webkit-keyframes scrollGood {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-320px);
    }
    0%   {background-color:#3e69c3;}
    50%   {background-color: red;}
    100%   {background-color: #3e69c3;}
}
@-moz-keyframes scrollGood {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-320px);
    }
    0%   {background-color:#3e69c3;}
    50%   {background-color: red;}
    100%   {background-color: #3e69c3;}
}
@keyframes scrollGood {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-320px);
    }
    0%   {background-color:#3e69c3;}
    50%   {background-color: red;}
    100%   {background-color: #3e69c3;}
}


