<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Penistrong.GameResourceMS.user.dataAnalysis.mapper.DataAnalysisMapper">
	<select id="getUserStats" resultType="com.Penistrong.GameResourceMS.po.DetailedUser">
		SELECT a.*, b.pv, b.uv, b.exdau, b.KPI
		  FROM user_accounts a
	INNER JOIN user_megadata b
			ON a.resource_id = b.resource_id
		   AND a.user_id = b.user_id
		 WHERE a.resource_id = #{resource_id}
		   AND a.user_id = #{user_id}
	</select>
	
	<select id="getUserStatsOfYear" resultType="java.util.Map">
		SELECT pv, uv, exdau, KPI
		  FROM user_monthlydata
		 WHERE resource_id = #{resource_id}
		   AND mon = #{mon}
	</select>

</mapper>